$_viewport-width: 640px;
$_viewport-height: 1136px;
$_grid-columns: 24;
$_grid-gutter: 2%;
$_breakpoints: (
  'xs': 0,
  'sm': 480px,
  'md': 769px,
  'lg': 1024px,
  'xl': 1440px,
);
$_print-min-width: 769px;
$_font-size: 16px;
$_colors: (
  'white': #fff,
  'black': #000,
);
$_z-indexes: (
  'header': 1000,
  'modal': 10000,
);

@use 'true' as *;

@import '../../src/assets/scss/global/functions/breakpoint';
@import '../../src/assets/scss/global/functions/list';
@import '../../src/assets/scss/global/functions/map';
@import '../../src/assets/scss/global/functions/string';
@import '../../src/assets/scss/global/functions/unit';
@import '../../src/assets/scss/global/functions/utility';

@import '../../src/assets/scss/global/mixins/media';
@import '../../src/assets/scss/global/mixins/utility';

@import 'specs/function-breakpoint';
@import 'specs/function-list';
@import 'specs/function-map';
@import 'specs/function-string';
@import 'specs/function-unit';
@import 'specs/function-utility';

@import 'specs/mixin-media';
@import 'specs/mixin-utility';
